.draft-player-button {
  color: #7befb2 !important;
  border-color: #7befb2 !important;

  &:hover {
    background-color: #7befb2 !important;
    color: #212F3D !important;
  }
}

.form-group {
  margin: 20px;
  color: #7befb2 !important;
}

.input-field {
  color: #7befb2 !important;
}

.table-container {
  @media screen and (min-width: 700px) {
    .column {
      flex: 1;
    }
  }
}

// Responsive table css
$breakpointLarge: 600px;
$breakpointSmall: 300px;

/* Responsive
==================================== */
@media all and (max-width: $breakpointLarge) {
  .table-container {
    margin: 0px;
  }

  .row {
    flex-wrap: wrap;
  }

  .Rtable--collapse  {
    display: block;
    > .Rtable-cell { width: 100% !important; }
    > .Rtable-cell--foot { margin-bottom: 100px; }
  }
}

@media all and (max-width: $breakpointSmall) {
  .column {
    height: 75px !important;
  }

  .row {
    flex-wrap: wrap;
  }
}

// Non-Flex modernizer fallback
.no-flexbox .Rtable {
  display: block;
  > .Rtable-cell { width: 100%; }
  > .Rtable-cell--foot { margin-bottom: 100px; }
}